
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title"> Registration Form</h2>
                    
                </div>
                
                <div class="card-body">
                                            <button onclick="window.location.href='viewusers1.jsp'" class="btn btn--radius-2 btn--red" style="width:620px; margin-top:20px; ">Afficher les Employers</button>
                
                    <form method="POST" action="adduser1.jsp">
<div style="margin-top:50px;">
<div class="form-row">
                            <div class="name">Nom</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="name">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="password" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" name="email">
                                </div>
                            </div>
                        </div>
                              <label class="label label--block">Sex</label>
                              <div class="form-row" style="margin-top: 20px; margin-left: 120px;">
                                  <label class="radio-container ">Male
                                      <input type="radio" checked="checked" name="sex" value="male">
                                      <span class="checkmark"></span>
                                  </label>
                                  <label class="radio-container" style="margin-left: 100px;">Female
                                      <input type="radio" name="sex" value="female">
                                      <span class="checkmark"></span>
                                  </label>
                              </div>
                          <div class="form-row">
                              <div class="name">Tel</div>
                              <div class="value">
                                  <div class="input-group">
                                      <input class="input--style-5" type="text" name="tel">
                                  </div>
                              </div>
                          </div>
                        <div class="form-row">
                            <div class="name">Type</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="type">
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option> Admin</option>
                                            <option> Employer</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div>
                            <input class="btn btn--radius-2 btn--red" type="submit" value="Ajouter Employer"/>
                          </div>
</div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor2/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor2/select2/select2.min.js"></script>
    <script src="vendor2/datepicker/moment.min.js"></script>
    <script src="vendor2/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js2/global.js"></script>
